@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

body {
  background: #faf8f6;
  font-family: 'Montserrat', sans-serif;

}

.HomePage {
  text-align: center;
  margin-top: 20vh;
  color: #595552;
}